body{
    background-color: cyan
}
#c{
    width: 30%;
    border-radius: 40px 40px 40px 40px;
    height: 30%;
    text-align: center;
    background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom:70px;
  padding: 50px 20px 20px 20px;
}
h1{
  color:red;
  font-style: normal;
  font-size:xx-large;
}
#b1{

  border: solid red;
  border-radius: 20px 20px 20px 20px;
  font-weight:bolder;
  font-size: larger;
  color:red;
  padding:10px 10px 10px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h5{
  font-size:x-large;
}
h4{
  font-size: x-large;
}