.one{
    background-color: rgb(178, 182, 182);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
    

}
.intro img{
    border-radius: 80px

}
.about{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 350px;
    height: 40rem;
}
.button{
    display: flex;
    flex-direction: column;
}

.button ul li a{
    text-decoration: none;
    color: black;
}
.brief{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
  /* align-items: center; */
  font-size: x-large;
}
.brief a{
    text-decoration: none;
    color: black;
}
.brief li a{
    text-decoration: none;
    color: black ;
}
.two{
    height:100% ;
    justify-content: center;
}