*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover ;
    background-position: center;
}
.nav{
  width: 85%;
  margin: auto;
  font-size: 19.5px;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;


}
.logo{
  width: 100px;
  cursor: pointer;
}
.nav ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.nav ul li a{
   text-decoration: none;
   color: black;
   text-transform: uppercase;
}
.nav ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.nav ul li:hover::after{
   width: 100%;
   background-color: springgreen;
   cursor: pointer;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-1%);
    text-align: center;
    color: #faf6f6;
}
.content h1{
  font-size: 50px;
  margin-top: 80px;
  
}
.content p{
  margin: auto;
  font-weight: 100;
  /* line-height: 25px; */
  text-align: center;
}
span{
  background: #06f7df;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;

}
nav ul li:hover a{
  /* z-index: 10; */
  background-color: rgb(255, 0, 179);
}